mlhdCI6MTU2ODE0MDQwMSwibmJmIjoxNTY4MTQwNDAyLCJleHAiOjE1NzMzMjQ0MDF9.fZmq60RIq3djM9pcVSZ8RzB1R1ZZibwqFgId5ZQT71E
//registry.npmjs.org/:_authToken=ec9714a4-6769-47f6-a549-41ed850c1099
registry=https://registry.npmjs.org/
